.pagination {
  display: flex;
  margin-top: 20px;
  padding-left: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}

.page-item {
  margin: 0 5px;
}

