<mat-card class="card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <div>
      <h4>Origin</h4>
      <p>Origen del personaje</p>
      <h4>Resident</h4>
      <p>Resident del personaje</p>
    </div>
    <hr />
    <div>
      <h4>Location</h4>
      <p>Origen del personaje</p>
      <h4>Resident</h4>
      <p>Resident del personaje</p>
    </div>
    <hr />
    <div>
      <h4>Episode</h4>
      <hr />
      <h5>Nombre</h5>
      <p>Resident del personaje</p>
      <h5>Air Date</h5>
      <p>Resident del personaje</p>
    </div>
  </mat-card-content>
</mat-card>
