.home {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
  padding: 16px;
}

.table {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  width: 100%;
  margin: 5px;
}

.detail {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  width: 400px;
  margin: 5px;
}

.search {
  margin-left: 16px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-height: 60px;
  margin-bottom: 24px;
  height: auto;
  background: #171829;
  color: #96a2b4;
}

.list-favorite {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-app {
  font-size: 26px;
  font-weight: 500;
  width: 50%;
  padding-left: 16px;
}

.title {
  font-size: 20px;
  font-weight: 500;
}

.card {
  background: #ffffff;
  margin-bottom: 16px;
}

.summary-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

.summary-card {
  margin-top: 16px;
}



