<div class="header">
  <span class="title-app">Rick and Morty App</span>
  <div class="list-favorite">
    <span class="title">Favorite:</span>
    <characters-favorite
      [list]="listFavorite()"
      (idRemove)="removeFavorite($event)"
      (character)="showDetail($event)"
    />
  </div>
</div>
<div class="home">
  <div class="table">
    <mat-card class="mat-elevation-z4 card">
      <mat-card-content>
        <characters-search
          (searchBy)="searchByName($event)"
          filterText="Name"
          class="search"
        />
        <characters-search
          (searchBy)="searchBySpecies($event)"
          filterText="Species"
          class="search"
        />
      </mat-card-content>
    </mat-card>
    <characters-table
      style="position: relative;"
      [isLoading]="isLoading()"
      [list]="charactersList()"
      [errorMessage]="isError()"
      (detail)="showDetail($event)"
      (addToFavorite)="addToFavorite($event)"
    >
      <characters-pagination
        [currentPage]="currentPage()"
        [totalPages]="totalPages()"
        [isLoading]="isLoading()"
        (changePage)="onPageChange($event)"
      />
    </characters-table>
    @if(!isLoadingAll()) {
      <mat-card class="mat-elevation-z4 card summary-card">
        <mat-card-content class="summary-list">
          <app-summary title="Total species" [info]="totalSpecies()"/>
          <app-summary title="Total type" [info]="totalType()"/>
        </mat-card-content>
      </mat-card>
    }
  </div>
  @if (detailCharacter()) {
    <characters-detail [character]="detailCharacter()" class="detail" />
  }

</div>

